<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/catalog</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.pool_size">root</property>
    <mapping resource="domain/User.hbm.xml"/>
    <mapping resource="domain/Range.hbm.xml"/>
    <mapping resource="domain/Grupa.hbm.xml"/>
    <mapping resource="domain/Authority.hbm.xml"/>
    <mapping resource="domain/Users.hbm.xml"/>
    <mapping resource="domain/Authorities.hbm.xml"/>
    <mapping resource="domain/Groups.hbm.xml"/>
    <mapping resource="domain/Rangies.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
